h1 {
    color: crimson;
}

h2 {
    color: lightsalmon;
}

.list li {
    display: inline;
    color: lightseagreen;
}

.box {
    display: inline-block;
    background-color: lightslategrey;
    color: maroon;
    padding: 20px 20px;
    margin: 20px;
}

a {
    display:inline;
}